.recipe_card {
    width: 300px;
    height: 400px;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.6);
    justify-content: space-between;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 3px;
  }
  
  .recipe_card:hover {
  }
  
  .recipe_img_container {
    width: 300px;
    height: 300px;
    /* margin-bottom: 10px; */
  }
  
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 3px 3px 0px 0px;
  }
  
  .recipeBtn {
    height: 45px;
    min-width: 115px;   
    font-size: 20px;
    background-color: orange;
    margin-bottom: 10px;
  }

  .cardH3 {
    font-size: x-large;
    color: black;
  }